@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.active{
  font-weight: bold;
}
.background {
  /* background: linear-gradient(60deg, #999e8b, #8caebec9); */
  background-image: url("money.jpg");
  height: 100vh;
  position: fixed;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
}
.header {
  z-index: 5;
  border: solid;
  color: #d6c9c9;
  height: 5rem;
  box-shadow: 0 2px 5px black;
  position: fixed;
  width: 100vw;
  background: linear-gradient(178deg, #05081beb, #171817);
}
#Navbar {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  align-items: center;
}
.NavLinks {
  display: contents;
}
.welcomeH1 {
  font-family: "Permanent Marker", cursive;
}
.menuBar {
  position: fixed;
  z-index: 6;
  top: 1.5rem;
  right: 1.5rem;
  background-color: transparent;
  box-shadow: 0 2px 5px black;
  border-radius: 6px;
  color: #d6c9c9;
}
@media screen and (max-width: 1000px) and (min-width: 750px) {
  .welcomeH1 {
    font-size: xx-large;
  }
  .NavLinks {
    font-size: medium;
  }
}

@media screen and (max-width: 750px) {
  .NavLinks {
    display: grid;
    position: fixed;
    top: 5rem;
    background: linear-gradient(178deg, #05081beb, #171817);
    row-gap: 3rem;
    width: 99vw;
    padding: 2rem 0;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    z-index: 6;
  }
  #Navbar{
    top:.5rem
  }
}
