@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
.background{
    background: linear-gradient(60deg, #999e8b, #8caebec9);
    height: 100vh;
    position: fixed;
    width: 100vw;
}
#Navbar{ 
    z-index: 5;
    border: solid;
    color: black;
    height: 7rem;
    background-color: #8dc627f0;
    box-shadow: 0 2px 5px black;
}
#welcomeH1{
    font-family: "Permanent Marker", cursive;
}